{% doc %}
  @prompt
    add custom liquid block with this code: <div id="matriarch-bride"></div>
{% enddoc %}
{% assign ai_gen_id = block.id | replace: '_', '' | downcase %}

<div id="matriarch-bride" {{ block.shopify_attributes }}></div>

{% schema %}
{
  "name": "Custom liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid"
    }
  ],
  "presets": [
    {
      "name": "Custom liquid"
    }
  ]
}
{% endschema %}
